html, body, div {
    padding: 0;
    border: 0;
    margin: 0 auto;
}

div {
    height: 500px;
    width: 500px;
    border-radius: 100%;
    border: 5px solid black;
    background-color: green;
}

div:hover {
    transition-property: background-color;
    transition-duration: 5s;
    transition-timing-function: steps(4, end);
    transition-delay: 50ms;
    background-color: blue;
}