html, body, div {
    padding: 0;
    border: 0;
    margin: 0 auto;
}

div {
    height: 500px;
    width: 500px;
    border-radius: 100%;
    border: 5px solid black;
    background-color: green;
}

div:hover {
    transition-duration: 3s;
    background-color: blue;
}