html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid red;
    background-image: url(../../../../Media/images/pier.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    font-size: 3em;
    text-transform: uppercase;   
}