/* 
    Build a horizontal menu using
        ul
            li (x5)
                a (x5)
        Don't include text decoration underlining on anchor tags
        Apply background color on hover */
