/* link, visited, hover, active */

/*
* {
    color: limegreen;
    background-color: black;
)
*/

div {
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
}

/*
    Link, Visited, Hover, Active
    Must be used in this order
*/

a:link{
    color: green;
}

a:visited{
    color: gray;
}

div:hover{
    background-color: orange;
}

div:active{
    background-color: yellow;
}

