html {
    border: 2px solid red;
}

body {
    display: inline-block;
    display: flex;
    flex-flow: row wrap;
}

div {
    min-height: 50px;
    color: white;
}

.one {
    background-color: darkblue;
    width: 30%;
    /* align-self: stretch; */
}

.two {
    width: 70%;
}

.three {
    background-color: blue;
    width: 100%;
}

.four {
    background-color: lightblue;
    width: 100%;
}