/* Template used for 18 pages */

html, body {
    border: 2px dashed hotpink;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */

    align-items: flex-start;
    /* align-items: center; */
    /* align-items: flex-end; */

    justify-content: flex-start;
    /* justify-content: center; */
    /* justify-content: flex-end; */
}

div {
    margin: 1em;
    width: 50px;
    height: 50px;
    color: black;
    background-color: red;
    border: 2px solid black;
    text-align: center;
}