nav {
    box-sizing: border-box;
        /* Prevents main from dropping to new row. Needs fix when time permits. */
    width: 15%;
    text-align: left;
}

main {
    box-sizing: border-box;
        /* Prevents main from dropping to new row. Needs fix when time permits. */
    width: 85%;
}

ul {
    flex-flow: column nowrap;
}