footer {
    background-color: rgba(127, 255, 127, .25);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

body > div {
    height: 1500px;
    width: 100%;
    background-color: skyblue;
    border: 5px dotted lightslategray;
}