li:first-child{
    background-color:forestgreen;
}

li:last-child{
    background-color:firebrick;
}

li:nth-child(even){
    color:blue;
}

li:nth-child(odd){
    color:orange;
}

li:nth-child(8){
    background-color: yellow;
}

li:only-child{
    background-color: black;
    color: limegreen;
}

li:nth-child(4n+3){
    background-color: aqua;
}